.card-container{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    width: 350px;
    text-align: center;
}
.cards{
}

.preview-picture{
    height: 300px;
    width: 350px;
    border-radius: 50px 50px 0px 0px;
}

.description{
    margin: 20px;
}


.btn-like, .btn-delete{
    padding: 10px 30px;
    margin: 30px;
    border: none;
    cursor: pointer;
    background: white;
    transition: background-color 0.5s ease-out 100ms;
}
.btn-like:hover,.btn-delete:hover{
    background-color: #db0000;
}